 <div data-role="navbar" >
	<ul>
	<li><%= link_to "Hilfe", help_path %></li>
        <li> <%= link_to "Impressum", about_path %></li>
        <li><%= link_to "Kontakt", contact_path %>   </li>
       	</ul>
</div>
 