<div data-role="navbar" >
    
	<ul>
		<li><%= link_to "Startseite", root_path %></li>
                <% if user_signed_in? %>
		<li><%= link_to "abmelden", destroy_user_session_path %></li>
                <% else %>
        <li> <%= link_to "einloggen", new_user_session_path %></li>
         <li><%= link_to "Neukunde ?", new_user_registration_path %></li>
        <% end %>
	</ul>
</div>


      
  